body {
  font-family: "Playfair Display", serif;
  font-weight: bold;
}

.container {
  margin: 42px;
  border: 2px solid #dadde1;
  border-radius: 10px;
  padding: 20px;
  background-image: url("nature.jpg");
  background-size: 100% 100%;
}
.city {
  text-align: right;
  font-weight: bold;
  font-size: 80px;
  padding: 70 0 0 0px;
}
h3 {
  font-weight: bold;
  font-size: 25px;
  left: 16px;
  padding: 0 0 0 10px;
}
#icon {
  position: relative;
  left: 30px;
  font-size: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
li {
  list-style: none;
}
.tempNow {
  text-align: center;
}
.currently {
  font-size: 35px;
}

#units {
  vertical-align: top;
  font-weight: bold;
  font: size 10px;
}
.searchbar {
  text-align: center;
  padding: 10px 0 80px 0;
}

.box {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
}
.card {
  text-align: center;
  margin: auto;
  opacity: 80%;
}
.emo {
  font-size: 100px;
  -webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
}
#link {
  padding: 10px 0 0 20px;
}
